.header-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
}

.header-image {
  flex: 1 1;
  text-align: center;
}

.header-image img {
  max-width: 80%;
  height: auto;
}